[submodule "src/protobuf"]
	path = src/protobuf
	url = https://github.com/protocolbuffers/protobuf
[submodule "src/OouraFFT"]
	path = src/OouraFFT
	url = https://github.com/petewarden/OouraFFT.git
[submodule "src/gemmlowp"]
	path = src/gemmlowp
	url = https://github.com/google/gemmlowp
[submodule "src/cpuinfo"]
	path = src/cpuinfo
	url = https://github.com/pytorch/cpuinfo
[submodule "src/ml_dtypes"]
	path = src/ml_dtypes
	url = https://github.com/jax-ml/ml_dtypes
[submodule "src/ruy"]
	path = src/ruy
	url = https://github.com/google/ruy
[submodule "src/pthreadpool"]
	path = src/pthreadpool
	url = https://github.com/google/pthreadpool.git
[submodule "src/FP16"]
	path = src/FP16
	url = https://github.com/Maratyszcza/FP16
[submodule "src/XNNPACK"]
	path = src/XNNPACK
	url = https://github.com/google/XNNPACK
[submodule "src/kleidiai"]
	path = src/kleidiai
	url = https://github.com/ARM-software/kleidiai.git
[submodule "src/flatbuffers"]
	path = src/flatbuffers
	url = https://github.com/google/flatbuffers
[submodule "models/magic_wand"]
	path = models/magic_wand
	url = https://github.com/petewarden/magic_wand.git
